* {
  box-sizing: border-box;
  font: inherit;
}
html {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0;
}
body {
  margin: 0;
}
header {
  padding: 1rem 3rem;
  background-color: coral;
  color: white;
  border-bottom: 1px solid #000;
}
:is(main, footer) {
  padding: 1rem 3rem;
}
header h1 {
  font-size: 2rem;
}
form {
  padding: 0 4rem;
}
.hidden {
  opacity: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
footer img {
  width: 300px;
}